---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Overlays homepage">
  <div class="p-8">
    <h1 class="font-bold text-3xl">Welcome to the show</h1>
    <ul class="[&_a]:text-violet-600 [&_a]:underline list-disc">
      <li><a href="/guest-info">Guest Info</a></li>
    </ul>
  </div>
</Layout>
